doctype html
html
head
  // MADE WITH LOVE BY <> SERGEY KHMELEVSKOY </>
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Chat
  //build:js js/main.min.js
  script(src="/js/lib/jquery-3.1.1.min.js")
  script(src="/js/main.js")
  //endbuild

  //build:css css/style.min.css
  link(rel="stylesheet" href="components/normalize-css/normalize.css" type="text/css")

  link(rel="stylesheet" href="css/style.css" type="text/css")
  //endbuild

  body
    .container
      // LEFT SIDEBAR
      .sidebar-left
        .sidebar-left__wrapper
          // logo
          a(href="#").sidebar-left__nav.sidebar-left__nav--logo
            span.sidebar-left__nav-icon
              i.ico.ico-logo
          // search
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-search
            span.sidebar-left__nav-title Search
          // notifications
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-notifications
            span.sidebar-left__nav-title Notifications
          // Favorites
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-favorites
            span.sidebar-left__nav-title Favorites
          // messages
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-messages
            span.sidebar-left__nav-title Messages
          // mentions
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-mentions
            span.sidebar-left__nav-title Mentions
          // files
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-files
            span.sidebar-left__nav-title Files


      // CHAT CONTENT
      .chat
        .chat__scrollable-area
          .chat__header(style="background-image: url('../images/chat_header.png')")
          // controls(subheaders)
          .chat__controls
            .chat__controls__name
              span.chat__controls__chat-name Staff
              i.ico.ico-private
              .chat__controls__chat-description The is closed chat for the management of Footprint Inc.
            .chat__controls__icons
              a(href="#").chat__controls__icon-menu
                i.ico.ico-user
              a(href="#").chat__controls__icon-menu
                i.ico.ico-share
              a(href="#").chat__controls__icon-menu
                i.ico.ico-settings
          // chat navigation
          .chat__navigation
            ul.chat__navigation__tabs
              li.chat__navigation__toggler.active(data-tab="NaviChat") Chat
              li.chat__navigation__toggler(data-tab="NaviFiles") Files
              li.chat__navigation__toggler(data-tab="NaviApps") Apps

          .chat__messages
            .chat__message

        .chat__writing-area
          .chat__writing-area__wrapper 11


      // RIGHT SIDEBAR
      .sidebar-right
