doctype html
html(lang="en")
head
  // MADE WITH LOVE BY <> SERGEY KHMELEVSKOY </>
  meta(charset="UTF-8")
  meta(http-equiv='cleartype', content='on')
  meta(name='MobileOptimized', content='320')
  meta(name='HandheldFriendly', content='True')
  meta(name='apple-mobile-web-app-capable', content='yes')

  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Chat
  //build:js js/main.min.js
  script(src="js/lib/jquery-3.1.1.min.js")
  script(src="components/slideout.js/dist/slideout.min.js")
  script(src="js/main.js")
  //endbuild

  //build:css css/style.min.css
  link(rel="stylesheet" href="components/normalize-css/normalize.css" type="text/css")

  link(rel="stylesheet" href="css/style.css" type="text/css")
  //endbuild

  body
    .container
      // LEFT SIDEBAR
      .sidebar-left
        .sidebar-left__wrapper
          // logo
          a(href="#").sidebar-left__nav.sidebar-left__nav--logo
            span.sidebar-left__nav-icon
              i.ico.ico-logo
          // search
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-search
            span.sidebar-left__nav-title Search
          // notifications
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-notifications
            span.sidebar-left__nav-title Notifications
          // Favorites
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-favorites
            span.sidebar-left__nav-title Favorites
          // messages
          a(href="#").sidebar-left__nav.active
            span.sidebar-left__nav-icon
              i.ico.ico-messages
            span.sidebar-left__nav-title Messages
          // mentions
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-mentions
            span.sidebar-left__nav-title Mentions
          // files
          a(href="#").sidebar-left__nav
            span.sidebar-left__nav-icon
              i.ico.ico-files
            span.sidebar-left__nav-title Files


      // CHAT CONTENT
      .chat
        .chat__scrollable-area
          // mobile header
          .chat__mobile-header
            .chat__mobile-header__menu-left
              i.ico.ico-hamburger
            .chat__mobile-header__name Footprint HQ
            .chat__mobile-header__menu-right
              i.ico.ico-logo
          // mobile subheader
          .chat__mobile-subhead
            i.ico.ico-lock-fill
            .chat__mobile-subhead__name Staff
            a(href="#")
              i.ico.ico-exit
            a(href="#")
              i.ico.ico-add-user
            a(href="#")
              i.ico.ico-search-mobile
          .chat__header(style="background-image: url('images/chat_header.png')")
          // controls(subheaders)
          .chat__controls
            .chat__controls__name
              span.chat__controls__chat-name Staff
              i.ico.ico-private
              .chat__controls__chat-description The is closed chat for the management of Footprint Inc.
            .chat__controls__icons
              a(href="#").chat__controls__icon-menu
                i.ico.ico-user
                ul.chat__controls__icon-menu__dropdown
                  li
                    .chat__controls__icon-menu__dropdown__img
                      img(src="images/profile_pic_1.png")
                    span Francesca Lee
                  li
                    .chat__controls__icon-menu__dropdown__img
                      img(src="images/profile_pic_2.png")
                    span Chris McCoy
                  li
                    .chat__controls__icon-menu__dropdown__img
                      img(src="images/profile_pic_3.png")
                    span Karen Moore
                  hr
                  li
                    i.ico.ico-invite
                    span Invite Members

              a(href="#").chat__controls__icon-menu
                i.ico.ico-share
                ul.chat__controls__icon-menu__dropdown.socials
                  li
                    i.ico.ico-twiiter-fill
                    span Twitter
                  li
                    i.ico.ico-facebook-fill
                    span Facebook
                  li
                    i.ico.ico-linkedin-fill
                    span LinkedIn
                  li
                    i.ico.ico-email-fill
                    span Email

              a(href="#").chat__controls__icon-menu.last
                i.ico.ico-settings
                ul.chat__controls__icon-menu__dropdown
                  li View Channel Info
                  li Notification Preferences
                  li Set Channel Header
                  li Set Channel Purpose
                  li Rename Channel
          // chat navigation
          .chat__navigation
            ul.chat__navigation__tabs
              li.chat__navigation__toggler.active(data-tab="NaviChat") Chat
              li.chat__navigation__toggler(data-tab="NaviFiles") Files
              li.chat__navigation__toggler(data-tab="NaviApps") Apps

          .chat__messages
            .chat__message(data-id="")
              .chat__message__wrapper--self
                .chat__message__profile-pic
                  img(src="images/profile_pic_1.png")
                .chat__message__author
                  | Francesca Lee
                  span Sat, Sep 3, 12:08 PM
                .chat__message__content
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In est felis, molestie interdum mi eget, rutrum placerat eros. Vestibulum venenatis risus tristique ullamcorper posuere.
                .chat__message__icon
                  i.ico.ico-message-buble
              .chat__message__wrapper--replies
                .chat__message__replies-count
                  i.ico.ico-message-buble
                  p <span>2</span> replies from Chris and Karen
            //next message
            .chat__message(data-id="" data-origin="").chat__message--comment
              .chat__message__wrapper--self
                .chat__message__profile-pic
                  img(src="images/profile_pic_2.png")
                .chat__message__author
                  | Chris McCoy
                  span Sat, Sep 3, 15:08 PM
                .chat__message__content
                  p Proin diam lacus, vestibulum vitae dolor eget, sollicitudin molestie ipsum. Praesent et erat pellent esque, dignissim metus quis, porta mi. Quisque quam eros, suscipit eget massa ut, laoreet luctus sem. Morbi lobortis tincidunt nisi, et congue arcu faucibus id dapibus vel leo.
                .chat__message__icon
            //next message
            .chat__message(data-id="" data-origin="").chat__message--comment
              .chat__message__wrapper--self
                .chat__message__profile-pic
                  img(src="images/profile_pic_3.png")
                .chat__message__author
                  | Karen Moore
                  span Sat, Sep 3, 17:38 PM
                .chat__message__content
                  p <a href="#">@ChrisMcCoy</a> Mauris ac diam eget orci placerat faucibus in venenatis mi.
                .chat__message__icon
                  i.ico.ico-message-mention
            //next message
            .chat__message(data-id="")
              .chat__message__wrapper--self
                .chat__message__profile-pic
                  img(src="images/profile_pic_1.png")
                .chat__message__author
                  | Francesca Lee
                  span Sun, Sep 4, 08:08 AM
                .chat__message__content
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In est felis, molestie interdum mi eget, rutrum placerat eros. Vestibulum venenatis risus tristique ullamcorper posuere.
                .chat__message__icon

            //next message
            .chat__message(data-id="")
              .chat__message__wrapper--self
                .chat__message__profile-pic
                  img(src="images/profile_pic_3.png")
                .chat__message__author
                  | Karen Moore
                  span Sun, Sep 4, 10:10 AM
                .chat__message__content
                  .chat__message__content__attachment
                    .chat__message__attachment__preview
                      img(src="images/Koala.png")
                    .chat__message__attachment__info
                      .chat__message__attachment__info__name
                        span Koala.png
                        span.chat__message__attachment__info__version v 1.0
                      .chat__message__attachment__info__description Picture of a koala bear.
                      .chat__message__attachment__info__size 795KB PNG file
                .chat__message__icon
                  i.ico.ico-message-file

            // JUST COPY/PASTE SAME STUFF HERE
            .chat__message(data-id="")
              .chat__message__wrapper--self
                .chat__message__profile-pic
                  img(src="images/profile_pic_1.png")
                .chat__message__author
                  | Francesca Lee
                  span Sat, Sep 3, 12:08 PM
                .chat__message__content
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In est felis, molestie interdum mi eget, rutrum placerat eros. Vestibulum venenatis risus tristique ullamcorper posuere.
                .chat__message__icon
                  i.ico.ico-message-buble
              .chat__message__wrapper--replies
                .chat__message__replies-count
                  i.ico.ico-message-buble
                  p <span>2</span> replies from Chris and Karen
            //next message
            .chat__message(data-id="" data-origin="").chat__message--comment
              .chat__message__wrapper--self
                .chat__message__profile-pic
                  img(src="images/profile_pic_2.png")
                .chat__message__author
                  | Chris McCoy
                  span Sat, Sep 3, 15:08 PM
                .chat__message__content
                  p Proin diam lacus, vestibulum vitae dolor eget, sollicitudin molestie ipsum. Praesent et erat pellent esque, dignissim metus quis, porta mi. Quisque quam eros, suscipit eget massa ut, laoreet luctus sem. Morbi lobortis tincidunt nisi, et congue arcu faucibus id dapibus vel leo.
                .chat__message__icon
            //next message
            .chat__message(data-id="" data-origin="").chat__message--comment
              .chat__message__wrapper--self
                .chat__message__profile-pic
                  img(src="images/profile_pic_3.png")
                .chat__message__author
                  | Karen Moore
                  span Sat, Sep 3, 17:38 PM
                .chat__message__content
                  p <a href="#">@ChrisMcCoy</a> Mauris ac diam eget orci placerat faucibus in venenatis mi.
                .chat__message__icon
                  i.ico.ico-message-mention
            //next message
            .chat__message(data-id="" data-origin="").chat__message--comment
              .chat__message__wrapper--self
                .chat__message__profile-pic
                  img(src="images/profile_pic_2.png")
                .chat__message__author
                  | Chris McCoy
                  span Sat, Sep 3, 15:08 PM
                .chat__message__content
                  p Proin diam lacus, vestibulum vitae dolor eget, sollicitudin molestie ipsum. Praesent et erat pellent esque, dignissim metus quis, porta mi. Quisque quam eros, suscipit eget massa ut, laoreet luctus sem. Morbi lobortis tincidunt nisi, et congue arcu faucibus id dapibus vel leo.
                .chat__message__icon
            //next message
            .chat__message(data-id="")
              .chat__message__wrapper--self
                .chat__message__profile-pic
                  img(src="images/profile_pic_1.png")
                .chat__message__author
                  | Francesca Lee
                  span Sun, Sep 4, 08:08 AM
                .chat__message__content
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In est felis, molestie interdum mi eget, rutrum placerat eros. Vestibulum venenatis risus tristique ullamcorper posuere.
                .chat__message__icon
        // preloader
        .preloader(aria-busy='true', aria-label='Loading, please wait.', role='progressbar')
          i.ico.ico-logo

        .chat__writing-area
          .chat__writing-area__wrapper
            input.chat__writing-area__new-message(type="text" placeholder="Type a message ...")
            button.chat__writing-area__submit-message(type="submit")
          .chat__writing-area__smile
            i.ico.ico-message-smile
          .chat__writing-area__attach
            i.ico.ico-message-attach
      // RIGHT SIDEBAR
      .sidebar-right
        .sidebar-right__wrapper
          .sidebar-right__scrollable-area
            .sidebar-right__section
              .sidebar-right__chat-title Crossfit, Inc.
              .sidebar-right__chat-type Corporate
              .sidebar-right__control-dropdown
                .sidebar-right__control-dropdown__title
                  span 35% <span>Onboarded</span>
                  i.ico +
                .sidebar-right__control-dropdown__content
              .sidebar-right__control-dropdown
                .sidebar-right__control-dropdown__title
                  span Invite others
                  i.ico +
                .sidebar-right__control-dropdown__content
            // next section
            .sidebar-right__section.sidebar-right__section--lighter
              .sidebar-right__profile-title Your profile is <span>25%</span> complete
              .sidebar-right__profile-progres
                .sidebar-right__profile-progres__fill(style="width: 25%")
              a(href="#").sidebar-right__profile-link
                i.ico +
                span <span>Add a profile photo</span> (50%)
              a(href="#").sidebar-right__profile-link
                i.ico +
                span <span>Join a box</span> (25%)
            //next section
            .sidebar-right__section.sidebar-right__section--lighter.sidebar-right__section--border
              .sidebar-right__control-dropdown
                .sidebar-right__section-title
                  i.ico.ico-home
                  span CrosSfit HQ
                  i.ico.ico-toggler +
                .sidebar-right__control-dropdown__content.active
                  a(href="#").sidebar-right__content-link.show-always staff
                  a(href="#").sidebar-right__content-link.show-always owners
                  a(href="#").sidebar-right__content-link.show-always crossfit journal
                  a(href="#").sidebar-right__content-link my mentions
                  a(href="#").sidebar-right__content-link crossfit journal
                  a(href="#").sidebar-right__content-toggler(data-hidden-cout="3") +3 more...
            //next section
            .sidebar-right__section.sidebar-right__section--lighter.sidebar-right__section--border
              .sidebar-right__control-dropdown
                .sidebar-right__section-title
                  i.ico.ico-pm
                  span Private message
                  i.ico.ico-toggler +
                .sidebar-right__control-dropdown__content.active
                  a(href="#").sidebar-right__content-link.show-always
                    i.ico.ico-status.ico-status--online
                    span Francesca Lee
                  a(href="#").sidebar-right__content-link.show-always
                    i.ico.ico-status.ico-status--online
                    span Karen Moore
                  a(href="#").sidebar-right__content-link
                    i.ico.ico-status.ico-status--offline
                    span Sergey Khmelevs...
                  a(href="#").sidebar-right__content-toggler(data-hidden-cout="1") +1 more...
            //next section
            .sidebar-right__section.sidebar-right__section--lighter.sidebar-right__section--border
              .sidebar-right__control-dropdown
                .sidebar-right__section-title
                  i.ico.ico-private-groups
                  span Private groups
                  i.ico.ico-toggler +
                .sidebar-right__control-dropdown__content.active
                  a(href="#").sidebar-right__content-link.show-always employees
                  a(href="#").sidebar-right__content-link.show-always staff
                  a(href="#").sidebar-right__content-link development
                  a(href="#").sidebar-right__content-toggler(data-hidden-cout="1") +1 more...
            //next section
            .sidebar-right__section.sidebar-right__section--lighter.sidebar-right__section--border
              .sidebar-right__control-dropdown
                .sidebar-right__section-title
                  i.ico.ico-sidebar-members
                  span Members (22,841)
                  i.ico.ico-toggler +
                .sidebar-right__control-dropdown__content
                  .sidebar-right__control-dropdown__content.active
                    a(href="#").sidebar-right__content-link.show-always
                      i.ico.ico-status.ico-status--online
                      span Francesca Lee
                    a(href="#").sidebar-right__content-link.show-always
                      i.ico.ico-status.ico-status--online
                      span Karen Moore
                    a(href="#").sidebar-right__content-link
                      i.ico.ico-status.ico-status--offline
                      span Sergey Khmelevs...
                    a(href="#").sidebar-right__content-link
                      i.ico.ico-status.ico-status--offline
                      span Chris McCoy
                    a(href="#").sidebar-right__content-toggler(data-hidden-cout="1") +2 more...
            //next section
            .sidebar-right__section.sidebar-right__section--lighter.sidebar-right__section--border
              .sidebar-right__control-dropdown
                .sidebar-right__section-title
                  i.ico.ico-private-groups
                  span BOXES (14,012)
                  i.ico.ico-toggler +
                .sidebar-right__control-dropdown__content
                  a(href="#").sidebar-right__content-link.show-always employees
                  a(href="#").sidebar-right__content-link.show-always staff
                  a(href="#").sidebar-right__content-link development
                  a(href="#").sidebar-right__content-toggler(data-hidden-cout="1") +1 more...
            //next section
            .sidebar-right__section.sidebar-right__section--lighter.sidebar-right__section--border
              .sidebar-right__control-dropdown
                .sidebar-right__section-title
                  i.ico.ico-history
                  span History

          //user info section
          .sidebar-right__user-info
            .sidebar-right__user-info__pic
              img(src="images/profile_pic_4.png")
            .sidebar-right__user-info__name Sergey Khmelevskoy
            a(href="#").sidebar-right__user-info__more
              i.ico.ico-more
            i.ico.ico-status.ico-status--online
