// CHAT
.chat
  &__header
    height: 210px
    max-height: 210px
    display: flex
    flex-direction: column
    overflow: hidden
    background-size: cover
    background-position: left center

  &__controls
    border-bottom: 1px solid $borderColor
  &__messages
    height: 2000px
